.add-flower-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-flower-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000; /* Светлый цвет текста */
  font-weight: 700;
  text-shadow: 2px 2px 8px rgb(165, 165, 165); /* Тень для выделения */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 18px;
  font-weight: 600;
  color: #4E4E4E; /* Темно-серый для текста */
  margin-bottom: 5px;
}

form input,
form textarea,
form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: #FFECB3; /* Нежный пастельный желтый для фокуса */
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 12px;
  background-color: #C8E6C9; /* Нежно-зеленый */
  color: #4E4E4E; /* Темно-серый для текста */
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #FFECB3; /* Нежный пастельный желтый */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #FFE0B2; /* Мягкий теплый персиковый */
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
